<div style="width: 800px; margin: 0 auto;">
<h1>Angular Forms custom inputs</h1>

Set values:
<button (click)="updateValues('Value')">Value</button>
<button (click)="updateValues('foo bar')">foo bar</button>
<button (click)="updateValues('')">(empty)</button>

<hr/>

<app-custom-input label="template-driven" [(ngModel)]="model" required="true"></app-custom-input>
value is: {{model}}

<hr />

<app-custom-input label="reactive" [formControl]="control"></app-custom-input>
value is: {{control.value}}
</div>
